/**
 * Idleon Injector - Main Stylesheet
 * Entry point that imports all modular CSS files
 */

/* BASE & VARIABLES */
@import url("../styles/_variables.css");
@import url("../styles/_base.css");
@import url("../styles/_layout.css");
@import url("../styles/_animations.css");

/* SHARED ELEMENTS */
@import url("../styles/_forms.css");
@import url("../styles/_buttons.css");
@import url("../styles/_utilities.css");

/* COMPONENTS */
@import url("../styles/sidebar.css");
@import url("../styles/cheats.css");
@import url("../styles/config.css");
@import url("../styles/account.css");
@import url("../styles/devtools.css");
@import url("../styles/startup-cheats.css");
@import url("../styles/modal.css");
@import url("../styles/toast.css");
@import url("../styles/tooltip.css");
@import url("../styles/number-input.css");
@import url("../styles/function-input.css");
@import url("../styles/empty-state.css");
@import url("../styles/_search.css");
