name: Release To Discord

on:
    release:
        types: [published]

jobs:
    github-releases-to-discord:
        runs-on: ubuntu-latest
        permissions: {}
        steps:
            - name: GitHub Releases to Discord
              uses: SethCohen/github-releases-to-discord@v1.19.0
              with:
                  webhook_url: ${{ secrets.WEBHOOK_URL }}
                  color: "2105893"
                  username: "Release Changelog"
                  avatar_url: "https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_640.png"
                  footer_title: "Changelog"
                  reduce_headings: true
